body {
    background-image: url("background.jpg");
    background-size: cover;
    background-color: rgba(8, 13, 16, 0.98);
    font-family: 'Orbitron', sans-serif;
    color: #222;
    min-width: 400px;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

header {
    margin-bottom: 5em;
}

header > h1 {
    margin: 0;
}

header > p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    color: #f7931d;
    font-weight: normal;
}

#title {
    font-size: 4em;
    /* text-shadow: -1px -1px rgb(209, 173, 105); */
    /* font-weight: bold; */
}

#title img {
    height: 0.6em;
}

#twitch-embed {
    width: 100%;
    height: 450px;
}

#notice {
    text-align: right;
    padding-top: 50px;
    padding-right: 1em;
}

#subtitles {
    margin-top: 2em;
}

#subtitles > div {
    float: left;
    width: 33%;
    margin: 0;
    padding: 0;
    min-width: 250px;
    padding-bottom: 2em;
}

#subtitles h3 {
    margin-bottom: 0.5em;
}

#subtitles a {
    color: #222;
    text-decoration: none;
}

#subtitles a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}